* {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}
body, input, textarea, button {
  font: 24px/1.5 grandma, sans-serif;
  color: #795548;
}
h1, p {
  margin: 0 0 1.5rem 0;
}
h1, h2 {
  color: #f44336;
}
h1 {
  font-family: ff-providence-sc-web-pro;
  font-size: 400%;
}
a {
  text-decoration: none;
  border-bottom: 1px solid;
  color: inherit;
}
a:hover {
  color: #f44336;
}
input, textarea, button {
  padding: 0.5rem 1rem;
}
input, button {
  vertical-align: middle;
}
input, textarea {
  border: 1px solid #795548;
}
input:focus, textarea:focus {
  outline: 2px solid #795548;
}
textarea {
  width: 30rem;
  vertical-align: top;
}
button {
  border: 0;
  line-height: 2;
  font-size: 80%;
  color: white;
  background: #4caf50;
  cursor: pointer;
  font-size: 80%;
  font-weight: bold;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}
button:hover {
  background: #66bb6a;
}
label {
  position: relative;
  display: inline-block;
  padding-top: 2rem;
}
label > span {
  position: absolute;
  left: 0;
  top: 0;
  line-height: 1;
}
main {
  background: url(gifts.png) no-repeat right bottom;
  background-size: 15rem;
  max-width: 60rem;
  padding: 1.5rem;
  margin-bottom: 3rem;
}
section {
  margin-bottom: 3rem;
}
.desc {
  font-size: 161%;
  font-style: italic;
}
#app ul {
  list-style: none;
  padding: 0 0 1.5rem;
}
#app li {
  line-height: 1;
  margin: 0 0 1.5rem -4rem;
  position: relative;
  padding-left: 4rem;
}
#app li h2 {
  margin: 0;
}
#app li button {
  display: none;
  background: #f44336;
  width: 3rem;
  height: 3rem;
  line-height: 2rem;
  font-size: 150%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}
#app li:hover button {
  display: inline-block;
}
