{% extends "base.html" %}

{% block content %}
  {% if has_drawn %}
  <header>
    <h1>And you're done</h1>
    <p>Go get a good gift now!  Happy holidays!</p>
  </header>
  <section id="app">
    <ul>
    {% for name, number in members %}
      <li>
        <h2>{{ name }}</h2>
        <small>{{ number }}</small>
      </li>
    {% endfor %}
    </ul>
    <span class="note">
      Don't worry! Names and numbers aren't stored :)
    </span>
  </section>
  {% else %}
  <header>
    <h1>Play Monito-monita through SMS</h1>
    <p>Just enter the names and numbers of the participants<br>
    and hit <small>DRAW</small>. Participants will receive the name<br>
    of their Monito/Monita through SMS.</p>
  </header>
  <section id="app">
    <form action="" method="post">
      <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
      {% raw -%}
      <p>
        <label>
          <span>Name</span>
          <input v-model="newMember.name" type="text" placeholder="Maine Mendoza">
        </label>
        <label>
          <span>Number</span>
          <input v-model="newMember.number" type="text" placeholder="639171234567">
        </label>
        <button type="button" v-on:click="addMember">Add</button>
      </p>
      <ul>
        <li v-for="member in members">
          <h2>{{ member.name }}</h2>
          <small>{{ member.number }}</small>
          <button type="button" v-on:click="removeMember($index)">&times;</button>
          <input type="hidden" name="name" value="{{ member.name }}">
          <input type="hidden" name="number" value="{{ member.number }}">
        </li>
      </ul>
      <template v-if="members.length > 0">
        <p>
          <label>
            <span>Theme (optional)</span>
            <textarea name="theme" rows="5" placeholder="e.g. Something soft"></textarea>
          </label>
        </p>
        <p>
          <button type="submit">Draw</button>
          &nbsp;
          <span class="note">
            Don't worry! Names and numbers aren't stored :)
          </span>
        </p>
      </template>
      {%- endraw %}
    </form>
  </section>
  {% endif %}
  <footer>
    <p>An early Christmas gift from <a href="https://twitter.com/themarksteve">@themarksteve</a></p>
  </footer>
{% endblock %}

